<div class="logo">
    <h2>The Insights</h2>
</div>

<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
    </a>
    <a routerLink="/best-lineup" routerLinkActive="active"> Best Lineup </a>
    <a routerLink="/in-depth-role" routerLinkActive="active"> In Depth Role </a>
    <a routerLink="/simulator" routerLinkActive="active"> Simulator </a>
    <a routerLink="/leaderboard" routerLinkActive="active"> Leaderboard </a>
    <a routerLink="/prophecy" routerLinkActive="active"> TI Prophecy </a>
</nav>
